/* * {
    margin: 0;
    padding: 0;
    
} */

header {
    grid-area: header;
}

body {
    display: grid;
    grid:
    "header header"
    "main main"
    "footer footer";
    background-color: aliceblue;
    grid-gap: 2%;
    margin: 0;
}

main {
    grid-area: main;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    list-style: none;
}

.navLinks > li {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: teal;
    color: #fff;
}

.navLinks li a{
    color: #fff;
    background-color: teal;
}

.navLinks li a:hover {
    text-decoration: underline;
    transition: 0.3s ease;   
}

.navLinks {
    display: flex;
    gap: 2em;
    font-size: 18px;
    background-color: teal;
}

#mainTitle {
    display: flex;
    justify-content: center;
    margin: 5% 5% 0;
    font-style: italic;
    animation-name: example;
    animation-duration: 4s;
    /* border: 1px solid; */
}

@keyframes example {
    0%   {color:teal; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}

/* Main */

.int1 {
    gap: 3em;
    margin-bottom: 5%;
}

h2 {
    text-align: center;
    font-size: large;
}

#coldPlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(229, 194, 111);
}

.int2 {
    gap: 3em;
    margin-bottom: 5%;
}

ol {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px 20px; /* row-gap column gap */
}

ol li {
    flex: 0 0 200px;
    margin: 2em;
    padding: 2em 1em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

details {
    margin: 5%;
    line-height: 3ch;
    font-family: fantasy;
}

h3 {
    font-size: large;
    margin: 5% auto;
    text-align: center;
}

/* Footer */

footer {
    grid-area: footer;
    padding: 20px;
    text-align: right;
}